

.projects-container{
    background-color: #f3f3f3;
    position: relative;
    padding: 180px 100px;
  }
  
  
  
  .cards-container {
    margin: 0 auto;
    max-width: 1400px;
    /* padding: 0 15px; */
  }
  
  .cards{
    display: flex;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    /* justify-content: center; */
  }
  
  .card {
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
    /* padding:10px; */
    border-radius: 12px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 15%); */
    /* scroll-snap-align: start; */
    /* border: 1px solid #bacdd8; */
    /* border: 1px solid #000; */
    transition: 1s ease;
    margin:20px;
    /* cursor: pointer; */
  }
  
  .card:hover{
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.1); 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  } 
  
  .card:hover .card-name{
    color: #00ddff;
  }
  
  .card img {
    border-radius: 12px 12px 0px 0px;
    height: 214px;
    object-fit: fill;
    width: 100%;
  }
  
  
  
  /* .tag {
    padding: 4px 8px;
    border: 1px solid #e5eaed;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #788697;
  } */
  
  .card-name {
    font-weight: 600;
    margin-top: 16px;
    transition: 0.3s ease;
    font-size: 17px;
    -webkit-line-clamp: 3;
    line-height: 24px;
    color:#fff;
  
  }
  
  .card-details p {
    color: #fff;
    font-size: 14px;
    -webkit-line-clamp: 3;
    line-height: 20px;
    margin-top: 20px;
  }
  
  .card-details a{
    text-decoration: none;
  }
  
  .card button {
    border: none;
    padding: 8px 10px;
    border-radius: 50px;
    /* font-weight: 600; */
    background-color: #fff;
    font-size: 12px;
  }
  
  .card-details {
    padding: 16px;
    text-align: justify;
    margin-top: -4px;
    background-color: #42414d;
    border-radius: 0px 0px 12px 12px;
    /* height:max-content; */
  }

  @media (max-width: 1200px){
    
    .card {
      flex-basis: calc(40% - 10px);
    }
  }
  
  @media (max-width: 992px){

    .card {
      flex-basis: calc(50% - 10px);
    }
  }
  
  @media (max-width: 768px){

    .projects-container{
      padding:120px 40px;
    }
  
    .card {
      flex-basis: calc(50% - 10px);
    }
  }
  
  @media (max-width: 576px){

    .projects-container{
      padding:100px 30px;
    }  
    
    
    .card {
      /* padding: 10px; */
      margin:10px;
    }
    
    .card img {
      height: 140px;
    }
    
    .card-name {
      font-size: 16px;
      font-weight: 600;
      margin-top: 10px;
    }
    
    .card-details p {
      font-size: 12px;
      /* line-height: 150%; */
      margin-top: 2px;
    }
    
    .card button {
      padding: 6px 8px;
      font-size: 8px;
      margin-bottom: 4px;
    }
    
  
    .card {
      flex-basis: calc(50% - 10px);
    }
    
  }
  
  @media (max-width: 420px){
    
    .card {
      /* padding: 6px; */
      border-radius: 12px;
      max-width: 150px;
    }
    
    .card img {
      /* border-radius:6px; */
      height: 107px;
    }
    
    .card-name {
      font-size:10px;
      font-weight: 600;
      margin-top: 2px;
    }
    
    .card p {
      font-size: 8px;
      line-height: 12px;
      /* padding-top: 10px; */
      /* margin-bottom: 10px; */
      margin-top: 0px;
    }
    
    .card button {
      font-size: 6px;
    }
    
    .card-details {
      padding: 8px;
    }
  
    .card {
      flex-basis: calc(70% - 10px);
    }
    
    
  }